.box {
    width: 300px;
    height: 300px;
    background-color: #d69999;
    /* transition-duration: 500ms; */
    /* Which properties set in the transitions (hover etc) should have the transistion? */
    /* transition-property: background-color, transform; */

    /* Type of animation, ease-in, ease-out, ease-in-out linear etc*/
    /* transition-timing-function: ease-in; */
    /* Or from the chrome developer tools, click the line graph en pick the one you want */
    /* transition-timing-function: cubic-bezier(0.6, -0.28, 0.74, 0.05); */

    /* You could set it to all, but is not advised. If one is on a slow
    computer, it will not be pretty */
    /* transition-property: all; */

    /* How long before it starts happening */
    /* transition-delay: 200ms; */

    /* Transition takes all these in one: duration property timing delay */
    transition: 500ms background-color ease-in, 500ms transform ease-out 1s;
}

.box:hover {
    background-color: #99d6c6;
    /* width: 500px; */
    transform: rotate(45deg);
}