/* div {
    transform: rotateZ(-90deg) translateY(200px) scale(2);
} */
.batman {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateZ(-90deg) translateY(820px) translateX(-340px) scale(7);
}

.joker {
  position: absolute;
  top: 0px;
  left: 0px;
}